body {
  background-color:lightblue;
  
   display: flex;
justify-content: center;
align-items: center;
 flex-direction:column;    
text-align:center;     
}



       h1 {
          color:orange;
     
       }
        h3{
          color:indigo;
       }
        
       h2{
          color:blue;
          
       }
       
img {
  border: 1px solid #ddd;
   width: 300px;
   border-radius: 4px;
/*   display: block;
  margin-left: auto;
  margin-right: auto; */
}